# macOS
.DS_Store

# Node / Next.js
node_modules
.next
out
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local

# Go
bin/
dist/
coverage.out
*.test
.air.toml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
*.tfvars
.terraform.lock.hcl
terraform/common.auto.tfvars

tmp

# Firebase Emulator logs
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
.firebase/
